@font-face {
  font-family: "Inter", sans-serif;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/InterVariable.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
